@import '../../../styles/variables';

.Toolbar {
  width: 100%;
  height: 3.5rem;

  border-bottom: 2px solid $color;

  display: flex;
  position: relative;

  .TitleContainer {
    display: flex;
    align-items: center;

    border-right: 2px solid $color;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .Title {
    margin: 0;

    font-size: 2rem;
    font-weight: normal;
    line-height: 2rem;
  }

  .ToolsContainer {
    flex-grow: 2;

    margin-left: 1rem;
    
    display: flex;
    align-items: center;
  }

  .RightSection {
    padding-right: 2rem;
    
    display: flex;
    align-items: center;
  }
}